<footer class="footer bg-dark">
    <div class="container text-center text-white">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/profile.php?id=100010025739371" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.linkedin.com/in/chandrasekhar-reddy-mullangi-66b6a2129" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      
      <a class="cc-github btn btn-link " href="https://github.com/mcsreddy555" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
      <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
    </div>
    <div class="text-center text-muted">
      <p style="color: white;">Copyright &copy; All rights reserved |<a href="https://github.com/mcsreddy555/" style="color:white" target="_blank"> Chandrasekhar Reddy</a> 
      </p>
    </div>
  </footer>