<section class="p-3">

    
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <img [src]="album.images[0].url" alt="" class="img-fluid img-thumbnail">
                            </div>
                            <div class="col-md-10">
                                <h5 class="display-4">{{album.name}}</h5>
                                <p class="h3">Release Date :{{album.release_date | date: format:'mediumDate'}}</p>
                                <button class="btn btn-danger " (click)="backToArtist()">Back</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-xsm-4" *ngFor='let track of tracks'>
                                <div class="card mt-3">
                                    <div class="card-body bg-secondary text-white text-center">
                                        <p class="lead">{{track.name}}</p>
                                        <audio controls>
                                            <source [src]="track.preview_url">
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>